

.mainCol{
font-family: sans-serif;
text-align: center;
background: white;
display: inline;

}


header{
  font-family: cursive;
  text-align: center;
  background-color: lightblue;
  font-weight: 400;
}
.navBar{
  background-color: silver;
  float: left;
  font-family: sans-serif;
    padding: 8px;

}

.sideCol{
  display: block;
  padding: 8px;
  background-color: lightgray;
}
.RSideCol{
  float: right;
  position: sticky;
}
