



.mainCol{
font-family: sans-serif;
text-align: center;
background: white;
display: flex;
padding: 5%;
padding-left: 20%;
}


header{
  font-family: cursive;
  text-align: center;
  background-color: lightblue;
  font-weight: 400;
}
.navBar{
  background-color: silver;
  float: left;
  font-family: sans-serif;
  padding: 8px;
  height: 60%;
}

.sideCol{
  display: block;
}
.RSideCol{
  float: right;
  position: sticky;
}
.youtube-button{
  background-color: lightblue;
  border: 30%;
  border-color: lightblue;

}

h2{
  font-size: 40px;
}
